<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.mapper.GoodsPublishMapper" >
  <resultMap id="BaseResultMap" type="cn.com.domain.GoodsPublish" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="sub_id" property="subId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_content" property="goodsContent" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="trade_place" property="tradePlace" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="is_bargain" property="isBargain" jdbcType="BIT" />
    <result column="collection_num" property="collectionNum" jdbcType="INTEGER" />
    <result column="is_buyed" property="isBuyed" jdbcType="BIT" />
    <result column="contact_method" property="contactMethod" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="visited" property="visited" jdbcType="INTEGER" />
    <association property="user" javaType="cn.com.domain.User">  
            <id column="id" property="id" jdbcType="VARCHAR" />  
            <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
            <result column="integral" property="integral" jdbcType="INTEGER" />  
    </association>
    
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, type_id, sub_id, goods_name, goods_content, pic, trade_place, price, 
    is_bargain, collection_num, is_buyed, contact_method, create_time, visited
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    u.nick_name,u.integral,p.*
    from goods_publish p inner join user u on u.id = p.user_id 
    where p.id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from goods_publish
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.domain.GoodsPublish" >
    insert into goods_publish (id, user_id, type_id, 
      sub_id, goods_name, goods_content, 
      pic, trade_place, price, 
      is_bargain, collection_num, is_buyed, 
      contact_method, create_time, visited
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, 
      #{subId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsContent,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, #{tradePlace,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{isBargain,jdbcType=BIT}, #{collectionNum,jdbcType=INTEGER}, #{isBuyed,jdbcType=BIT}, 
      #{contactMethod,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{visited,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.domain.GoodsPublish" >
    insert into goods_publish
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="subId != null" >
        sub_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsContent != null" >
        goods_content,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="tradePlace != null" >
        trade_place,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="isBargain != null" >
        is_bargain,
      </if>
      <if test="collectionNum != null" >
        collection_num,
      </if>
      <if test="isBuyed != null" >
        is_buyed,
      </if>
      <if test="contactMethod != null" >
        contact_method,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="visited != null" >
        visited,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="subId != null" >
        #{subId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsContent != null" >
        #{goodsContent,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="tradePlace != null" >
        #{tradePlace,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="isBargain != null" >
        #{isBargain,jdbcType=BIT},
      </if>
      <if test="collectionNum != null" >
        #{collectionNum,jdbcType=INTEGER},
      </if>
      <if test="isBuyed != null" >
        #{isBuyed,jdbcType=BIT},
      </if>
      <if test="contactMethod != null" >
        #{contactMethod,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="visited != null" >
        #{visited,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.domain.GoodsPublish" >
    update goods_publish
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="subId != null" >
        sub_id = #{subId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsContent != null" >
        goods_content = #{goodsContent,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="tradePlace != null" >
        trade_place = #{tradePlace,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="isBargain != null" >
        is_bargain = #{isBargain,jdbcType=BIT},
      </if>
      <if test="collectionNum != null" >
        collection_num = #{collectionNum,jdbcType=INTEGER},
      </if>
      <if test="isBuyed != null" >
        is_buyed = #{isBuyed,jdbcType=BIT},
      </if>
      <if test="contactMethod != null" >
        contact_method = #{contactMethod,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="visited != null" >
        visited = #{visited,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.domain.GoodsPublish" >
    update goods_publish
    set user_id = #{userId,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      sub_id = #{subId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_content = #{goodsContent,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      trade_place = #{tradePlace,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      is_bargain = #{isBargain,jdbcType=BIT},
      collection_num = #{collectionNum,jdbcType=INTEGER},
      is_buyed = #{isBuyed,jdbcType=BIT},
      contact_method = #{contactMethod,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      visited = #{visited,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <sql id="sql_where">
   	   <where>
   	   <if test="search!=null and search !=''">
		and CONCAT(p.goods_name,p.goods_content) LIKE CONCAT('%',#{search,jdbcType=VARCHAR},'%' )
		</if>
		<if test="type!=null and type !=''">
		and p.type_id = #{type,jdbcType=VARCHAR}
		</if>
		<if test="sub!=null and sub !=''">
		and p.sub_id = #{sub,jdbcType=VARCHAR}
		</if>
		and is_buyed = 0
		</where>
  </sql>
  
  <select id="selectGoodsSize" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select 
    COUNT(id)
    from goods_publish p
    <include refid="sql_where" />
  </select>
  
  <select id="selectGoods" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    u.nick_name,p.*
    from goods_publish p LEFT JOIN `user` u ON p.user_id = u.id
    <include refid="sql_where" />
    order by ${time_collection} DESC
    LIMIT ${begin},${end}
  </select>
  
  <select id="selectUserIdNotBuyed" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
   	p.*
    from goods_publish p
    where p.user_id = #{userId,jdbcType=VARCHAR} and p.is_buyed = 0
    order by p.create_time DESC
  </select>
  
  <select id="selectUserIdIsBuyed" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
   	p.*
    from goods_publish p
    where p.user_id = #{userId,jdbcType=VARCHAR} and p.is_buyed = 1
    order by p.create_time DESC
  </select>
  
  <select id="selectSellNumByUser" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select 
   	COUNT(p.id)
    from goods_publish p
    where p.user_id = #{id,jdbcType=VARCHAR} and p.is_buyed = 1
  </select>
  
  
  
</mapper>