<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.mapper.PublishRuleMapper" >
  <resultMap id="BaseResultMap" type="cn.com.domain.PublishRule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rule" property="rule" jdbcType="VARCHAR" />
    <result column="order" property="order" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rule, order
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from publish_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from publish_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.domain.PublishRule" >
    insert into publish_rule (id, rule, order
      )
    values (#{id,jdbcType=INTEGER}, #{rule,jdbcType=VARCHAR}, #{order,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.domain.PublishRule" >
    insert into publish_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rule != null" >
        rule,
      </if>
      <if test="order != null" >
        order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rule != null" >
        #{rule,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        #{order,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.domain.PublishRule" >
    update publish_rule
    <set >
      <if test="rule != null" >
        rule = #{rule,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        order = #{order,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.domain.PublishRule" >
    update publish_rule
    set rule = #{rule,jdbcType=VARCHAR},
      order = #{order,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    *
    from publish_rule
  </select>
  
  
  
</mapper>