.mainTones-green{
	color: #33CC99;
	font-family: "微软雅黑";
}

.mainTones-gray{
	color: #CCCCCC;
	font-family: "微软雅黑";
}

.mainTones-green:hover{
	color: #33AA99;
	font-family: "微软雅黑";
}
.mainTones-bg-green{
	background-color: #33CC99;
}

.mainTones-bg-green:hover{
	background-color: #33BB99;
}

.mainTones-yellow{
	color: #FFFF00;
	font-family: "微软雅黑";
}
.mainTones-bg-yellow{
	background-color: #FFFF00;
}

.mainTones-white{
	color: white;
	font-family: "微软雅黑";
}

.mainTones-white:hover{
	color: white;
	font-family: "微软雅黑";
}

.mainTones-bg-white{
	background-color: inherit;
}

.level-gray{
	background-color: #CCCCCC;
}

.para-middle{
	text-align:center;
	margin:0 auto;
}

.buy_btn{
	width: 150px;
	left:1180px;
}

.a-hovor{
	text-decoration:none;
}

.font-bolder{
	font-weight: bolder;
}

a{
	text-decoration: none;
}

a:HOVER {
	text-decoration: none;
}

.center {  
    width: auto;  
    display: table;  
    margin-left: auto;  
    margin-right: auto;  
} 

.list-publish{
	font-size: 30px;
	position:absolute;
	left: 1150px;
	top:200px;
}

.list-buy{
	font-size: 30px;
	position: absolute;;
	left: 1150px;
	top:300px;
}

