.header-hight-width{
	height: 80px;
}

.logined_div{
	position: relative;
	top:-72px;
	left:900px;
}

.dropdown:hover .header-dropdown-menu{
	display: block;
}

.header-dropdown-menu{
	width:160px;
	display: none;
} 

