.header-hight-width{
	height: 80px;
}

.logined_div{
	position: relative;
	top:20px;
	left:900px;
	width:200px;
}

.dropdown:hover .header-dropdown-menu{
	display: block;
}

.header-dropdown-menu{
	width:80px;
	display: none;
} 
.header-dropdown-menu li{
	position: relative;
	left:-50px;
}

.header-dropdown-menu li:hover{
	background-color: #cccccc;
} 

.reg-inputSpan{
	position:absolute;
	width:150px;
	left:440px;
}

