.left-position{
	
	width: 150px;
	position: absolute;
	top:150px;
}

.dropdown:hover .dropdown-menu {
	display: block;
}


.dropdown-menu{
	position: absolute;
	left: 75px;
	top: 0px;
}

.left li{
	margin-top: 20px;
}


.dropdown-menu li{
	font-size:small;
	float: left;
	margin-top: 5px;
	margin-bottom:5px;
	width: 75px;
}
