.left-position{
	width: 120px;
	position: relative;
	top:130px;
	/* border: solid; */
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu-position{
	position: absolute;
	left: 100px;
	top: 0px;
	width: 310px;
	margin: 0px;
	padding: 0px;
	border: none;
}

.left .left-position .nav > li{
	margin-top: 20px;
	margin-left:10px;
	margin-right:10px;
}

.left .left-position .nav > li > a{
	border-radius:10px
}

.left .left-position .nav > li > a:hover{
	background-color: #44C1A5;
	color:white;
}

.dropdown-menu li{
	font-size:small;
	float: left;
	margin-top: 10px;
	margin-bottom:10px;
	width: 75px;
}
