.list{
	width:1000px;
	position: relative;
	top:140px;
	left:50px;
	/* border: double;
	border-color: black; */
}

.select-proprety{
	width: 130px;
	height: 50px;
	position: relative;
	top: 22px;
}

.select-proprety:hover{
	color: white;
}

.dashed{
	position: relative;
	left:90px;
}

.dashed li{
	list-style-type: none;
	height: 0px;
	width: 10px;
	border-bottom:solid;
	border-color: #33CC99;
	float: left;
	position: relative;
	margin-left: 10px;
}

.img_div{
	width: 299px;
	height: 299px;
	position: relative;
	left: -3px;
}


